.main-form__additionally {
  padding-top: 20px;

  &::before {
    top: 36px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 15px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 25px;

    &::before {
      top: 48px;
    }
  }
}

.main-form__additionally .main-form__title {
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    margin-bottom: 62px;
  }
}

.additionally__container {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 62px;
    row-gap: 42px;
    margin-bottom: 59px;
    padding: 0 67px 0 70px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto 66px;
    padding: 0 110px;
  }
}

.additionally__wrapper {
  margin-bottom: 24px;
  padding: 0 20px;

  &:last-child {
    margin-bottom: 41px;
  }

  @media (min-width: @tablet-width) {
    width: 282px;
    margin: 0;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.additionally__label {
  position: relative;
  padding-left: 45px;
  color: @special__dark-grey-three;
  cursor: pointer;

  &::before {
    position: absolute;
    top: -4px;
    left: 0;
    content: "";
    width: 28px;
    height: 28px;
    border: 1px solid @special__grey;
  }

  @media (min-width: @tablet-width) {
    padding-left: 59px;

    &::before {
      top: -5px;
      left: 0;
      width: 38px;
      height: 38px;
    }
  }
}

.additionally__input:checked + .additionally__label::after {
  position: absolute;
  top: 4px;
  left: 6px;
  content: "";
  width: 18px;
  height: 14px;
  background: url("../img/icon-check.svg") no-repeat;

  @media (min-width: @tablet-width) {
    top: 8px;
    left: 11px;
  }
}

.additionally__input:hover + .additionally__label::before,
.additionally__input:focus + .additionally__label::before,
.additionally__input:disabled + .additionally__label::before {
  border-color: @special__grey-five;
}

.additionally__input:disabled + .additionally__label {
  opacity: 0.3;
}
