.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @basic__white;
  text-transform: uppercase;
  background-color: @basic__green;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: @basic__green-two;
    outline: none;
  }

  &:active {
    background-color: @basic__green-two;
    color: @special__white;
  }

  @media (min-width: @tablet-width) {
    height: 54px;
    font-size: 20px;
  }
}
