.catalog-product {
  padding: 20px 20px 24px;
  border-bottom: 1px solid @special__light-grey-two;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 324px;
    margin: 0 auto;
    padding: 0 40px 40px 38px;
    border: none;
    background-image: linear-gradient(@basic__white 81px, @basic__grey 81px);
    box-sizing: border-box;

    &--show {
      display: flex;
      align-items: flex-end;
      padding: 0;
      background-image: none;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin: 0;
  }
}

.catalog-product__wrapper {
  display: flex;
  max-width: 500px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 248px;
    min-height: 432px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}

.catalog-product__wrapper--show {
  position: relative;
  flex-direction: column;
  padding: 58px 0 0;
  text-align: center;

  &::before {
    position: absolute;
    top: 19px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 30px;
    height: 2px;
    background-color: @special__grey-three;
  }

  &::after {
    position: absolute;
    top: 19px;
    left: 50%;
    content: "";
    width: 30px;
    height: 2px;
    background-color: @special__grey-three;
    transform: translateX(-50%) rotate(90deg);
  }

  @media (min-width: @tablet-width) {
    min-height: 389px;
    padding: 0 40px 40px 38px;
    background-color: transparent;
    background-image: none;
    outline: 2px solid @basic__grey;
    outline-offset: -2px;

    &::before {
      top: 82px;
      width: 60px;
      height: 2px;
    }

    &::after {
      top: 82px;
      width: 60px;
      height: 2px;
    }
  }
}

.catalog-product__picture {
  margin: 0 auto;
}

.catalog-product__image {
  &--small {
    margin-top: 13px;
    width: 68px;
    height: 86px;
  }

  &--big {
    margin-top: 10px;
    width: 84px;
    height: 101px;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &--small {
      margin-top: 36px;
      width: 161px;
      height: 172px;
    }

    &--big {
      margin-top: 8px;
      width: 168px;
      height: 206px;
    }
  }

  @media (min-width: @desktop-width) {
    &--small {
      margin-top: 29px;
    }

    &--big {
      margin-top: 1px;
      width: 172px;
      height: 202px;
    }
  }
}

.catalog-product__container {
  min-width: 140px;
}

.catalog-product__title {
  width: 76px;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @special__dark-grey-three;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 150px;
    margin: 34px auto 13px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto 17px;
    line-height: 21px;
  }
}

.catalog-product__title--last {
  width: auto;
  margin: 0 0 8px;
  color: @basic__black-two;

  @media (min-width: @tablet-width) {
    width: 134px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
}

.catalog-product__list {
  margin: 0 0 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
  }
}

.catalog-product__item {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    height: 31px;
    align-items: center;
    font-size: 16px;
    border-bottom: 1px solid @special__grey;
  }
}

.catalog-product__description {
  margin: 0;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    width: 170px;
    margin: 0 auto;
    font-size: 16px;
  }
}

.catalog-product__button {
  width: auto;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    height: 39px;
    margin: 0;
  }
}

.button--show-all {
  height: 39px;
  margin: 87px 0 0;
  font-size: 16px;
  color: @special__dark-grey-two;
  background-color: @basic__grey;
}

.button--show-all:hover,
.button--show-all:focus {
  background-color: @special__light-grey-two;
}

.button--show-all:active {
  background-color: @special__light-grey-two;
  color: @special__dark-grey-four;
}
