.contact-information__container {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
  }
}

.contact-information__container:last-child .contact-information__wrapper {
  @media (min-width: @desktop-width) {
    &:last-child {
      padding-left: 0;
    }
  }
}

.contact-information__wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 14px;
  padding: 0 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
    padding: 0 67px 0 70px;

    &:last-child {
      margin-bottom: 0;
      padding-left: 68px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    margin-bottom: 0;
    padding: 0;
  }
}

.contact-information__label {
  margin-right: 12px;

  @media (min-width: @tablet-width) {
    margin-right: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 20px;
  }
}

.contact-information__wrapper:last-child .contact-information__label {
  @media (min-width: @tablet-width) {
    margin-right: 16px;
  }
}

.contact-information__container--input {
  position: relative;
}

.contact-information__input {
  width: fill-available;
  padding: 13px 40px 12px 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special__dark-grey-two;
  border: 1px solid @basic__grey-three;

  @media (min-width: @tablet-width) {
    padding: 10px 45px 10px 21px;
    font-size: 20px;
    line-height: 30px;
    vertical-align: middle;
  }

  @media (min-width: @desktop-width) {
    padding-left: 19px;
  }
}

.contact-information__input::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special__dark-grey-two;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    vertical-align: middle;
  }
}

.contact-information__input:hover {
  border-color: @special__grey;
}

.contact-information__input:focus {
  padding: 12px 39px 11px 12px;
  border: 2px solid @special__dark-grey-two;
  outline: none;

  @media (min-width: @tablet-width) {
    padding: 9px 44px 9px 20px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 18px;
  }
}

.contact-information__input.input__error {
  padding: 12px 39px 11px 12px;

  @media (min-width: @tablet-width) {
    padding: 9px 44px 9px 20px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 18px;
  }
}

.input__image {
  position: absolute;

  &--email {
    top: 16px;
    right: 15px;
  }

  &--phone {
    top: 13px;
    right: 13px;
  }

  @media (min-width: @tablet-width) {
    &--email {
      top: 18px;
      right: 18px;
    }

    &--phone {
      top: 16px;
      right: 17px;
    }
  }
}

.contact-information__input:focus + .input__image--email {
  stroke: @basic__green;
}

.input__error + .input__image--email {
  stroke: @status__error;
}

.input__error:hover + .input__image--email {
  stroke: @special__dark-grey-three;
}

.contact-information__input:focus + .input__image--phone {
  fill: @basic__green;
}

.input__error + .input__image--phone {
  fill: @status__error;
}

.input__error:hover + .input__image--phone {
  fill: @special__dark-grey-three;
}
