.contacts {
  position: relative;
  background-color: @basic__grey;

  &--index {
    position: relative;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    min-height: 400px;
    background-color: @basic__grey;

    &--index {
      min-height: 305px;
    }
  }
}

.contacts__wrapper {
  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    width: 1220px;
    margin: 0 auto;
    padding: 95px 110px 104px;
    z-index: 1;
  }
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 28px 19px 25px;

  @media (min-width: @tablet-width) {
    padding: 63px 72px 57px 71px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    min-height: 201px;
    padding: 66px 85px 55px 76px;
    background-color: @basic__white;
    box-sizing: border-box;
  }
}

.contacts__title {
  width: 140px;
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic__black-two;

  @media (min-width: @tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: @desktop-width) {
    line-height: 25px;
  }
}

.contacts__description {
  width: 140px;
  margin: 0;
  padding: 0;
  line-height: 20px;

  &-address {
    margin: 0;
  }

  @media (min-width: @tablet-width) {
    width: 160px;
    font-size: 16px;
    text-align: end;

    &-address {
      margin-bottom: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    text-align: start;

    &-address {
      margin-top: -2px;
      margin-bottom: 20px;
    }
  }
}

.contacts__map-container {
  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

.contacts__map {
  display: none;
  width: 100%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    margin: 0 auto;
  }
}

.contacts__map-iframe {
  display: block;
  width: 100%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}
