.copyright {
  padding: 22px 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  color: @special__dark-grey-two;

  @media (min-width: @tablet-width) {
    width: 163px;
    padding: 0;
    font-size: 16px;
  }
}
