.main-nav__container--closed {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.main-nav__container--nojs {
  display: block;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.main-nav__list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    max-width: 500px;
    padding-top: 2px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 3px;
  }
}

.main-nav__item {
  padding: 22px 0 23px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic__black;
  text-align: center;
  border-bottom: 1px solid @basic__grey-two;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 15px 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__item:first-child {
  border-top: 1px solid @basic__grey-two;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.main-nav__link {
  color: @basic__black;

  @media (min-width: @tablet-width) {
    padding-bottom: 10px;

    &--current {
      padding-bottom: 8px;
      border-bottom: 2px solid @basic__green;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 8px;

    &--current {
      padding-bottom: 6px;
    }
  }
}

.main-nav__link-index {
  @media (min-width: @tablet-width) {
    padding-bottom: 10px;

    &--current {
      padding-bottom: 8px;
      border-bottom: 2px solid @basic__green;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 8px;
    color: @basic__white;

    &--current {
      padding-bottom: 6px;
      border-bottom: 2px solid @basic__white;
    }
  }
}

.main-nav__link:hover,
.main-nav__link:focus {
  opacity: 0.6;
  outline: none;
}

.main-nav__link:active {
  opacity: 0.3;
}
