.main-nav {
  width: auto;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1220px;
    padding: 25px 30px 60px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    min-height: 59px;
    padding: 53px 110px 29px;
  }
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.page-header__logo {
  &--mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 12px;
  }
}

.logo {
  @media (min-width: @tablet-width) {
    min-width: 174px;
    margin-right: 35px;
  }
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
  outline: none;
}

.logo:active {
  opacity: 0.6;
}

.logo__image {
  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.logo__text {
  margin: 0 auto;
  padding-right: 22px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
