.page-footer {
  background-color: @basic__grey;
}

.page-footer__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 39px 20px 0;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 53px 30px 64px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 57px 110px 64px;
  }
}

.page-footer__logo {
  display: flex;
  margin-bottom: 31px;

  &-text {
    display: flex;
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) {
    margin: 0;

    &-text {
      width: 128px;
      height: 24px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.6;
  }
}
