.programs__wrapper {
  margin: 0 auto 27px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 80px;
    justify-content: start;
  }
}

.programs__item {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 20px 18px;
  background-color: @basic__grey;

  &--last {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: auto 275px;
    margin-bottom: 30px;
    padding: 77px 62px 56px 52px;

    &--first {
      &::before {
        grid-column-start: 2;
        grid-column-end: -1;
        position: absolute;
        top: 81px;
        right: 89px;
        content: "";
        width: 140px;
        height: 192px;
        background: url("../img/slimming-cats.svg") no-repeat;
        background-size: 140px 192px;
        z-index: 1;
      }
    }

    &--last {
      margin-bottom: 0;

      &::before {
        grid-column-start: 2;
        grid-column-end: -1;
        position: absolute;
        top: 135px;
        right: 25px;
        content: "";
        width: 268px;
        height: 112px;
        background: url("../img/cats-gain-weight.svg")  no-repeat;
        background-size: 268px 112px;
        z-index: 1;
      }
    }

    &::after {
      grid-column-start: 2;
      grid-column-end: -1;
      position: absolute;
      top: 92px;
      right: 59px;
      content: "";
      width: 200px;
      height: 200px;
      background-color: @basic__green;
      border-radius: 50%;
    }
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 570px;
    margin: 0;
    padding: 77px 52px 59px;
    box-sizing: border-box;

    &--last {
      margin-right: 0;

      &::before {
        display: none;
      }
    }

    &--first {
      &::before {
        display: none;
      }
    }

    &::after {
      display: none;
    }
  }
}

.programs__title {
  margin: 0 0 29px 71px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @basic__black;

  &::after {
    position: absolute;
    top: 24px;
    left: 22px;
    content: "";
    width: 50px;
    height: 50px;
    background-color: @basic__green;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }
  }

  &--first {
    &::before {
      position: absolute;
      top: 21px;
      left: 29px;
      content: "";
      width: 50px;
      height: 53px;
      background: url("../img/slimming-cats.svg") no-repeat;
      z-index: 1;

      @media (min-width: @tablet-width) {
        display: none;
      }

      @media (min-width: @desktop-width) {
        display: block;
        top: 41px;
        left: 67px;
        width: 70px;
        height: 97px;
        background-size: 70px 97px;
      }
    }
  }

  &--last {
    &::before {
      position: absolute;
      top: 35px;
      left: 13px;
      content: "";
      width: 67px;
      height: 50px;
      background: url("../img/cats-gain-weight.svg") no-repeat;
      z-index: 1;

      @media (min-width: @tablet-width) {
        display: none;
      }

      @media (min-width: @desktop-width) {
        display: block;
        top: 67px;
        left: 33px;
        width: 134px;
        height: 56px;
        background-size: 134px 56px;
      }
    }
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0 0 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin: 0 0 74px 162px;
  }
}

.programs__description {
  position: relative;
  margin: 0 0 19px;
  padding-bottom: 23px;
  border-bottom: 1px solid @special__grey-two;

  &--br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 377px;
    margin: 0 0 52px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: @basic__black;
    border: none;

    &--br {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    width: auto;
    margin-bottom: 26px;

    &--br {
      display: none;
    }
  }
}

.programs__button {
  width: max-content;

  &-text {

    position: relative;
    padding-right: 41px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: @basic__black;

    &::before {
      position: absolute;
      top: 11px;
      right: 6px;
      content: "";
      width: 18px;
      height: 2px;
      background-color: @basic__black;
    }

    &::after {
      position: absolute;
      top: 7px;
      right: -8px;
      content: "";
      border-left: 7px solid @basic__black;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 7px solid transparent;
    }

    @media (min-width: @tablet-width) {
      padding-right: 49px;
      font-size: 20px;
      line-height: 30px;

      &::before {
        top: 15px;
        right: 6px;
      }

      &::after {
        top: 11px;
        right: -8px;
      }
    }
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.programs__button:hover .programs__button-text,
.programs__button:focus .programs__button-text {
  &::before {
    right: -2px;
    width: 26px;
  }

  &::after {
    right: -16px;
  }
}

.programs__button:active .programs__button-text {
  opacity: 0.3;

  &::before {
    right: -2px;
    width: 26px;
  }

  &::after {
    right: -16px;
  }
}
