.selection {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-align: center;
  color: @basic__white;
  background-image:
    url("../img/index-background-mobile.png"),
    linear-gradient(@basic__white 0, @special__green 0);
  background-size: 100%;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/index-background-mobile@2x.png"),
      linear-gradient(@basic__white 0, @special__green 0);
  }

  @media (min-width: @tablet-width) {
    background: none;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    margin-top: -145px;
    margin-bottom: 82px;
    padding-top: 145px;
    height: 549px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    text-align: center;
    color: @basic__white;
    background-image:
      url("../img/index-background-desktop.png"),
      linear-gradient(90deg, @basic__white 0, @special__green 0);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: right;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/index-background-desktop@2x.png"),
        linear-gradient(90deg, @basic__white 0, @special__green 0);
    }
  }
}

.selection__wrapper {
  margin: 0 auto;
  padding: 27px 0 22px 0;
  background-image: linear-gradient(transparent 302px, white 302px);

  @media (min-width: @tablet-width) {
    position: relative;
    max-width: 1060px;
    min-height: 810px;
    margin: 0 auto;
    padding: 0 117px;
    background: none;
  }

  @media (min-width: @desktop-width) {
    width: 1060px;
    min-height: 471px;
    padding: 78px 80px 82px;
    z-index: 1;
  }
}

.selection-title {
  margin: 0 0 25px;
  padding: 0 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    width: 414px;
    margin-bottom: 41px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    color: @basic__black;
    text-align: start;
    z-index: 10;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
  }
}

.selection__description {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 414px;
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    color: @basic__black;
    text-align: start;
    z-index: 10;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
  }
}

.selection__images {
  display: block;
  margin: 0 auto 3px;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 0;
    right: 85px;
    transform: translateX(55px);
    width: 709px;
    height: 609px;
    margin: 0 auto;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    top: -4px;
    right: 275px;
    width: 552px;
    height: 499px;
  }
}

.selection__button {
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    width: 244px;
    margin: 0 0 0 -5px;
    z-index: 10;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}
